/* mwenu */
.AsmaMenu {
  position: fixed;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: cente;
  justify-content: space-between;
  padding: 0 1.25rem;
}
.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.Menu-Horizontal li a {
  display: block;
  text-decoration: none;
}
.Menu-Horizontal li a:hover {
  color: red;
}
.Menu-Vertical {
  padding: 0;
  position: absolute;
  display: none;
  list-style: none;
  width: 9.375rem;
  background-color: gainsboro;
}

.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}

.Menu-Vertical li a {
  padding: 0.938rem 938rem 938rem 1.25rem;
}
/* productos */
.seccion-productos {
  padding: 3.75rem 1.25rem;
  background-color: azure;
}
.div-gral-prod {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  gap: 3rem;
}
.div-prod-texto {
  flex: 1;
}
.div-prod-texto h2 {
  text-align: justify;
  color: blue;
  margin-bottom: 0.938rem;
}
.div-prod-texto p {
  text-align: justify;
  color: darkseagreen;
  line-height: 1.5;
  text-align: ;
}
.div-prod-imagen {
  flex: 1;
}
.div-prod-imagen img {
  width: 100%;
  max-width: 37.5rem;
}
.seccion-formulario {
  background-color: hsl(197, 100%, 54%);
  padding: 2.5rem;
  border: 0.188rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0.938rem;
}
.div-cont-formulario {
  background-color: blanchedalmond;
  padding: 1.875rem;
  border: 0.125rem solid;
  border-radius: 0.625rem;
  width: 100%;
  max-width: 31.25rem;
}
.campo {
  border: 0.063rem;
  padding: 0.93rem;
  margin-bottom: 0.938rem;
  border-radius: 0.5rem;
  background-color: hwb(33 39% 16%);
}
.formulario registro clientes label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: rgb(0, 255, 191);
}
input[type="text"],
select {
  width: 90%;
  padding: 0.625rem;
  border: 0.063rem solid;
  border-radius: 0.313rem;
}
.lista chackbox,
.lista radio {
  list-style: none;
  padding: 0.625rem;
  margin: 0;
  border: 0.063rem;
  background-color: aqua;
  border-radius: 0.313rem;
}
button {
  background-color: blueviolet;
  color: aquamarine;
  padding: 0.625rem 1.25rem;
  border: 0.063rem solid;
  border-radius: 0.313rem;
}
